*{
    box-sizing:border-box;
  }
  html, body {
    margin-left:20%;
    margin-right:25%;
    background-color:black;
  }
  body{
      background-color:black;
  }
  .name{
    color:white;
    font-family:monospace;
  }
  .navbar{
    display:flex;
    flex-direction:row;
  }
  .navbar-item{
    margin-left:5px;
      color:white;
  }
